.root{
	font-size: 16px;
}

.container{
	display: flex;
	flex-direction: column;
	height:98%;
	width:98%;
	background-color:#ffffff;
	margin: 2vmin;
	align-self: center;
}

.navigationBar{
	display: flex;
	width:100%;
	height:10%;
	flex-direction: row;
	justify-content: space-between;

}

.navBar{
	display:flex;
	flex-direction: row;
	justify-content: flex-start;
	width:100%;
	height:10%;
	background-color:#F1F4B3;
	border: solid;
	border-width: 0.5px;

}

.navBar ul{
	display: flex;
	font-size:1.5rem;
	list-style-type: none;
	flex-direction: row;
	justify-content: flex-start;
}

.navBarComponent{
	text-decoration: none;
	font-weight: bold;
	display: block;
	margin-right: 2vmax;
}

.navBarComponent:hover{
	color: black;
}

.togglerClass{
	display: none;
	height:0%;
	width:0%;
}

.toggler{
	height:0%;
	width:0%;
	display: none;
}

.accordion{
	display: flex;
	flex-direction: column;
	width:50%;
	height:70%;
	background-color: #F1F4B3;
	justify-content: center;
	align-content: center;
	align-self: center;
	margin: 10%;
	
}

.card{
	border: solid;
	border-width: 1px;
	border-color: black;
}

.cardHeader{
	padding:3%;
	border-bottom: solid;
	border-bottom-width: 1px;
	border-bottom-color: black;
}

.accordionContent{
	padding-top:0.2%;
	padding-left: 3%;
	padding-right:3%;
	display:none;
}



.modalContainer{
	display: flex;
	flex-direction: column;
	justify-content: space-between;	
	font-size: 1rem;
	border:solid;
	border-color: #9DA098;
	background-color:#CFED9E;
	overflow: auto; 
}

.modalButton{
	align-self: center;

}

.modalHeader{
	align-self: stretch;
	padding: 6px;
	background-color:#9DA098;
	font-weight: bolder;
}

.modalBody{
	align-self: stretch;
	padding: 6px;
	background-color: #CFED9E;
}

.modalFooter{
	display:flex;
	align-self: stretch;
	justify-content: center;
	align-content: center;
	text-align: center;
}

#buttonOk{
	background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 1rem;
    margin: 2px;
}


@media only screen and (max-width: 768px){
	.container{
		height:98%;
		width:98%;
	}

	.navBar ul{
		display: none;
		width:0%;
		height:0%;
	}

	.navBarComponent{
		display: none;
		width:0%;
		height:0%;
	}

	.togglerClass{
		width:100%;
		height:10%;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		
	}

	.toggler{
		width:30%;
		margin-top: 1vmin;
		display:block;
		text-align: right;
		font-size: 1.8rem;
		padding-right: 2vmin;
		
	}

	.navBar{
		display:flex;
		flex-direction: column;
		justify-content: flex-start;
		
	}

  .navBar.toggledNavbar ul{
	    display: block;
		list-style-type: none;
		width:96%;
		padding-left: 2%;	
		margin-bottom: 0%;

	}

  .navBar.toggledNavbar ul li a{
	  	width:98%;
	  	display: block;
	  	font-size:1.3rem;
	  	text-align: left;
		padding:1vmax;
	 }

	 .navBar.toggledNavbar ul li a:hover{
	 	background-color:grey;
	 }

}

